body {
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  color: white;
  background-color: red;
}

.signUp {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;

  align-items: center;
  color: white;
}

h1 {
  font-size: 70px;
  text-align: center;
}
h2 {
  font-size: 35px;
  font-style: normal;
}

h3 {
  font-size: 25px;
}

.signupBox {
  text-indent: 10px;
  font-size: 18px;
  width: 600px;
  height: 65px;
  border: none;
}

#startBtn {
  margin-left: -5px;
  font-size: 35px;
  width: 250px;
  height: 70px;
}

.signIn {
  margin-top: 3%;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin-left: 1180px;
}


