


body, html {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./components/images/bg.png");
   /* Center and scale the image nicely */
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: black;
}

button {
  color: white;
  background-color: red;
}

.signUp {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;

  align-items: center;
  color: white;
}

h1 {
  font-size: 70px;
  text-align: center;
}
h2 {
  font-size: 35px;
  font-style: normal;
  text-align: center;
}

h3 {
  font-size: 25px;
  text-align: center;
}

.signupBox {
  text-indent: 10px;
  font-size: 18px;
  width: 600px;
  height: 65px;
  border: none;
}

#startBtn {
  margin-left: -5px;
  font-size: 35px;
  width: 250px;
  height: 70px;
}

.signIn {
  margin-top: 3%;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
}
.bind {
  display: flex;
  flex-direction: row;
  flex: 33.33%;
}

.row {
  display: flex;
}

.column {
  padding: 5;
  flex: 50.33%;
  
}
